*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #efe5da;
}
header li{
    list-style: none;
    font-size: 1.3rem;
}
header a{
    text-decoration: none;
    color: #423F32;
    font-size: 1rem;
}
header a:hover{
    color:#4AA3A2;
    transition: 0.3s ease-in-out;
    
}

header {
    background-color: #ffffff;
    position: relative;
    padding:  0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .links {
    display: flex;
    gap: 2rem;

}

.navbar .toggle_btn{
    color: #423F32;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.navbar .toggle_btn:hover{
    color: #4AA3A2;
}
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   
}
.dropdown_menu.open {
    
    height: 240px;
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .search {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
}
@media(max-width: 900px){
    .navbar .links,
    .navbar .search {
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    
    
}
@media(min-width: 900px){
    .navbar .dropdown_menu.open{
        display: none;
    }
}
    


  
.nav-link::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #4AA3A2;
    transition: all 0.3s ease;
    opacity: 0;
  }
  .nav-link{
    cursor: pointer;
  }
  
.nav-link:hover {
    color: #4AA3A2;
  }
  
.nav-link:hover::before {
    bottom: 0;
    opacity: 1;
  }


.search{
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 0.3rem;
}
.search:hover{
    background-color: #4AA3A2;
    color: aliceblue;
    border-radius: 15px;
    
}
.search .icon {
    font-size: 18px;
    margin: 0.2rem;
   
}
  .search input{
    border-radius: 10px;
    margin-left: 0.2rem;
    height: 23px;
    border: 1px solid #423F32;
}